  .margin-top{
    margin-top: 60px;
    background:scroll linear-gradient(to bottom, #eee, #fff)
  }
  
  /* Contenedor de la grilla */
  .catalogo {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    padding: 50px;
    padding-top: 0;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Estilos para cada tarjeta de silla */
  .silla {
    background-color: #fff;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 #00000046;
    transition: transform 0.2s;
  }
  
  .silla:hover {
    transform: scale(1.05);
  }
  
  .silla-imagen {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
  }
  
  .silla h2 {
    font-size: 1.5em;
    margin: 10px 0;
  }
  
  .silla p {
    margin: 5px 0;
  }
  
  .silla .precio {
    font-weight: bold;
    color: #d43;
  }

  .filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
  }

  .filter-select {
    appearance: none;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .filter-select:hover {
    background-color: #e0e0e0;
  }

  .filter-select:focus {
    outline: none;
    border-color: #e6bb4a;
  }

  .filter-select::after {
    content: '▼';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  } 
  
  .filter-select, .price-filter {
    flex: 1;
    min-width: 80px;
    max-width: 200px;
    margin: 10px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
  .price-slider {
    width: 100%;
  }

  .precio small{
    font-size: 10px;
    color: #333;
  }

  .price-filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    font-family: 'Helvetica', sans-serif;
  }
  
  .price-filter label {
    font-size: 1em;
    margin-bottom: 10px;
    color: #555;
  }
  
  .price-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    background: #e0e0e0;
    border-radius: 5px;
    outline: none;
    transition: background 0.3s;
  }
  
  .price-slider:hover {
    background: #d0d0d0;
  }
  
  .price-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #3dbf42c0;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .price-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #007BFF;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  
  @media (max-width: 767px) {
    .filters {
      display: none;
    }

    .margin-top{
      margin-top: 60px;
    }

    .catalogo{
      padding: 40px;
    }
  
  }