  .margin-top{
    margin-top: 120px;
  }
  .sillah1 {
    text-align: center;
    font-size: 2.5em;
    color: #734b35;
    background: linear-gradient(to right, #ae9787, #734b35);
    -webkit-background-clip: text;
    color: transparent;
    padding: 10px 0;
  }
  
  /* Contenedor de la grilla */
  .catalogo {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  
  /* Estilos para cada tarjeta de silla */
  .silla {
    background-color: #fff;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 0 1px 0 #734b35;
    transition: transform 0.2s;
  }
  
  .silla:hover {
    transform: scale(1.05);
  }
  
  .silla-imagen {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
  }
  
  .silla h2 {
    font-size: 1.5em;
    margin: 10px 0;
  }
  
  .silla p {
    margin: 5px 0;
  }
  
  .silla .precio {
    font-weight: bold;
    color: #734b35;
  }

  