body{
  overflow:scroll;
  overflow-x: hidden;
  font-family: sans-serif;
}

#root{
  height: 100dvh !important;
}
/* Para navegadores basados en WebKit */
::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #2125296c;
    border-radius: 8px;
    border: 3px solid #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #212529;
  }
  
  /* Para Firefox */
  body {
    scrollbar-width: thin;
    scrollbar-color: #37a #f1f1f1;
  }