.navbar{
    padding: 30px !important;
    font-size: large !important;
    background-color: #fefefe !important;
    box-shadow: 0 0 20px 0 #aaa !important;
    justify-content: space-around !important;
}

.nav-link{
    color: #37a !important;
    margin: 0 5px;
}

.active{
    color: #fff !important;
    border-radius: 8px ;
    background-color: #37a !important;
}

.nav-link:hover{
    background-color: #37a;
    color: #fff !important;
    border-radius:  8px !important;
}

.carousel-inner{
    box-shadow: 0 0 8px 0 #aaa !important;
}


#navbarNavDropdown{
    text-align: center;
}

