.navbar{
    font-size: 16px !important;
    background-color: #fefefe !important;
    box-shadow: 0 0 5px 0 #aaa !important;
    justify-content: space-around !important;
}

.brand{
    height: 60px;
    margin-left: 20px;
}

.nav-link{
    margin: 0 5px;
    transition: ease-in-out 0.3s;
    border-radius: 2px;
    transition: transform 0.2s;
}

.activeheader{
    color: #fefefe !important;
    background-color: #734b35 !important;
    box-shadow: 0 0 10px 0 #bbb;
}

.nav-link:hover{
    color: #fefefe !important;
    background-color: #734b35f0;
    box-shadow: 0 0 8px 0 #bbb;
    border-radius: 2px;
    transform: scale(1.08);
}


#navbarNavDropdown{
    text-align: center;
}

@keyframes slideInFromTop {
    from {
      transform: translateY(4%);
      opacity: 0.5;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

#Header{
    animation: slideInFromTop 0.8s ease-in-out;
}