.navbar{
    padding: 30px !important;
    font-size: large !important;
    background-color: #fefefe !important;
    box-shadow: 0 0 20px 0 #aaa !important;
    justify-content: space-around !important;
}

.nav-link{
    margin: 0 5px;
    transition: ease-in-out 0.3s;
    border-radius: 8px;
}

.active{
    color: #21252d;
    box-shadow: 0 0 10px 0 #bbb;
}

.nav-link:hover{
    color: #212529;
    box-shadow: 0 0 10px 0 #bbb;
    border-radius: 8px;
}


#navbarNavDropdown{
    text-align: center;
}

@keyframes slideInFromTop {
    from {
      transform: translateY(5%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

#Header{
    animation: slideInFromTop 1s ease-in-out;
}