.carousel-control-prev-icon, .carousel-control-next-icon{ 
    border-radius: 50%;
}

#carouselExampleIndicators{
    margin: 120px 10%;
    margin-bottom: 30px;
    box-shadow: 0 0 10px 0 #999;
    max-height: 720px;
    max-width: 1280px;
}

.carousel-indicators{
    padding: 2px 2px;
}

div div .active{
    background-color: #ae9787 !important;
}

.carousel-item{
    border-radius: 20px;
}

.carousel-item img {
    max-height: 550px;
}