

.carousel-inner{
    margin-top: 87px;
    margin-bottom: 30px;
    margin-top: 86px;
    margin-bottom: 0;
}

#carouselExampleIndicators{
    box-shadow: 0 0 10px 0 #999;
}

.carousel-indicators{
    padding: 2px 2px;
}

div div .active{
    background-color: #e6bb4a !important;
}

.carousel-item{
    border-radius: 20px;
    position: relative;
}

.carousel-item img{
    max-height: 85dvh;
    filter:brightness(0.65) contrast(0.8)
}

.carousel-caption .btn-dark{
    background-color: #2228 !important;
    border: none;
}

.carousel-caption .btn-dark:hover{
    background-color: #e6ba4ad3 !important;
    color: #222;
}

