.sin{
    font-size: smaller;
}

.bg-dark1{
    background-color: #4f4b2d;
}

.bottom{
    margin: 0;
    padding: 0;
    bottom: 0;
}

.derechos{
    margin: 0;
    text-align: center;
    border: none;
    padding: 10px;
}

.linkedin{
    color:#ddd !important;
    padding: 10px 0;
}

.pd-5{
    padding: 3em 1em;
    padding-bottom: 0 !important;
}

.mb-2 .text-secondary, .bottom .text-secondary, .col-xs-8 .text-secondary{
    color: #fff4ea65 !important;
}

.link-footer:hover{
    color: #222 !important;
}