.link-footer:hover{
    color: #9d1e1e !important;
}

.sin{
    font-size: smaller;
}

.bottom{
    margin: 0;
    padding: 0;
    bottom: 0;
}

.derechos{
    margin: 0;
    text-align: center;
    border: none;
    padding: 10px;
}

.linkedin{
    color:#ddd !important;
    padding: 10px 0;
}

.pd-5{
    padding: 3em 1em;
    padding-bottom: 0 !important;
}