#galeria .col-lg-4{
    margin: 0 !important;
    padding: 40px;
}

#galeria img{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 100% !important;
}

#galeria img:hover{
    box-shadow: 0 0 15px 0 #999;
}

.container-fluid .p{
    font-family: sans-serif;
}

.maincontent{
    margin-top: 0;
}

.container-main{
    max-width: 1250px !important;
    margin: auto;
}

.container-main h2{
    color: white;
}