#galeria .col-lg-4{
    margin: 0 !important;
    padding: 40px;
}

#galeria img{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 100% !important;
}

#galeria img:hover{
    box-shadow: 0 0 15px 0 #999;
}

.container-fluid .p{
    font-family: sans-serif;
}

.container-fluid h1{
    margin-bottom: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container-fluid hr{
    margin: 0;
}

.container-fluid .p{
    text-wrap: pretty;
}

.maincontent{
    max-width: 1400px;
}