.Sponsors{
    margin: auto;
    display: none; /*Valor para que se muestre es flex, para ocultarlo none*/
    justify-content: space-evenly;
}

.Sponsors img{
    max-height: 8dvh;
    margin-bottom: 30px;
    filter: opacity(0.5) contrast(0.5);
}